.brochureList .pageContent {
  padding: 0;
}
.brochureList .container {
  width: auto;
  max-width: none;
  margin: 0 auto 0 0;
  padding: 0;
  display: flex;
  box-sizing: content-box;
  isolation: isolate;
}
@media screen and (max-width: 1440px) {
  .brochureList .container {
    padding-right: 50px;
  }
}
@media screen and (max-width: 767px) {
  .brochureList .container {
    flex-direction: column;
    padding: 0 20px;
  }
}
.brochureList .side {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding-top: 6%;
  padding-bottom: 10%;
  padding-left: clamp(30px, 8%, 150px);
}
@media screen and (max-width: 1440px) {
  .brochureList .side {
    padding-left: 50px;
  }
}
@media screen and (max-width: 991px) {
  .brochureList .side {
    width: 40%;
  }
}
@media screen and (max-width: 767px) {
  .brochureList .side {
    top: 0;
    width: 100%;
    position: relative;
    padding-left: 0;
    padding-top: 39px;
    padding-bottom: 20px;
  }
}
.brochureList .side::before {
  content: "";
  position: absolute;
  width: calc(100% + 200px);
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  background: url("../images/in/brochure_bg.jpg") left top no-repeat;
  z-index: -1;
}
@media screen and (max-width: 767px) {
  .brochureList .side::before {
    left: -20px;
    width: calc(100% + 40px);
  }
}
.brochureList .side .box > button {
  width: 100%;
  background: none;
  color: #fff;
  background: #DB002D;
  padding: 10px;
  position: relative;
  display: none;
}
@media screen and (max-width: 767px) {
  .brochureList .side .box > button {
    display: block;
  }
}
.brochureList .side .box > button::after {
  content: "+";
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
@media screen and (min-width: 768px) {
  .brochureList .side .tab {
    display: block !important;
  }
}
@media screen and (max-width: 767px) {
  .brochureList .side .tab {
    max-width: none;
    display: none;
  }
}
@media screen and (max-width: 550px) {
  .brochureList .side .tab {
    margin-bottom: 30px;
  }
}
.brochureList .side .tab button {
  width: 100%;
  color: #222222;
  background: none;
  padding: 35px 0;
  font-size: 1.25rem;
  font-weight: 600;
  text-align: left;
}
@media screen and (max-width: 767px) {
  .brochureList .side .tab button {
    padding: 15px 0;
    background: none;
    border-bottom: #9E9E9E 1px solid;
  }
}
.brochureList .side .tab button.active, .brochureList .side .tab button:hover {
  background: #DB002D;
  color: #FFF;
  padding: 35px 25px;
}
@media screen and (max-width: 767px) {
  .brochureList .side .tab button.active, .brochureList .side .tab button:hover {
    padding: 15px 0;
    background: none;
    color: #DB002D;
  }
}
.brochureList .side .pageTitle {
  color: #444444;
  margin-bottom: 90px;
  font-size: 4.25rem;
}
@media screen and (max-width: 1440px) {
  .brochureList .side .pageTitle {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 991px) {
  .brochureList .side .pageTitle {
    font-size: 3.375rem;
  }
}
@media screen and (max-width: 767px) {
  .brochureList .side .pageTitle {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
}
.brochureList .side .controlBox {
  margin: auto 0 0;
  padding-right: 30px;
}
@media screen and (max-width: 550px) {
  .brochureList .side .controlBox {
    padding-right: 0;
    margin-bottom: 30px;
  }
}
.brochureList .side .controlBox .control {
  width: 100%;
  display: none;
}
.brochureList .side .controlBox .control.active {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.brochureList .side .controlBox .control .page {
  font-size: 1.5rem;
  color: #878787;
}
.brochureList .side .controlBox .control .page span {
  color: #DB002D;
}
.brochureList .side .controlBox .control button {
  border: none;
}
.brochureList .side .controlBox .arrowBox {
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 991px) {
  .brochureList .side .controlBox .arrowBox {
    gap: 10px;
  }
}
.brochureList .side .controlBox {
  margin: auto 0 0;
  padding-right: 30px;
}
@media screen and (max-width: 767px) {
  .brochureList .side .controlBox {
    padding-right: 0;
    margin-top: 26px;
  }
}
.brochureList .side .controlBox .control {
  width: 100%;
  display: none;
}
.brochureList .side .controlBox .control.active {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
@media screen and (max-width: 767px) {
  .brochureList .side .controlBox .control.active {
    align-items: center;
  }
}
.brochureList .side .controlBox .control .page {
  font-size: 1.5rem;
  color: #878787;
  font-weight: 600;
}
.brochureList .side .controlBox .control .page span {
  color: #DB002D;
}
.brochureList .side .controlBox .control button {
  border: none;
}
.brochureList .side .controlBox .arrowBox {
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 991px) {
  .brochureList .side .controlBox .arrowBox {
    gap: 10px;
  }
}
.brochureList .side .controlBox .slick-arrow {
  background: none;
  position: relative;
  padding: 0;
  margin: 0;
}
.brochureList .side .controlBox .slick-arrow::before {
  content: "";
  width: 70px;
  height: 70px;
  background: url("../images/icon/icon_arrow_.svg") center no-repeat;
  display: block;
}
@media screen and (max-width: 991px) {
  .brochureList .side .controlBox .slick-arrow::before {
    width: 50px;
    height: 50px;
  }
}
.brochureList .side .controlBox .slick-arrow.slick-next::before {
  transform: scaleX(-1);
}
.brochureList .contentBox {
  width: 70%;
  padding-top: 6%;
}
@media screen and (max-width: 991px) {
  .brochureList .contentBox {
    width: 60%;
  }
}
@media screen and (max-width: 550px) {
  .brochureList .contentBox {
    width: calc(100% + 20px);
  }
}
.brochureList .contentBox .content {
  display: none;
}
.brochureList .contentBox .content.active {
  display: block;
}
.brochureList .contentBox .listBox .item {
  padding: 0 20px 0 0;
  position: relative;
}
.brochureList .contentBox .listBox .item .pic {
  isolation: isolate;
}
.brochureList .contentBox .listBox .item .title {
  position: absolute;
  color: #fff;
  font-size: 2rem;
  line-height: 1;
  bottom: 32px;
  left: 32px;
  right: 32px;
  transition: all 0.3s ease;
}
@media screen and (max-width: 1440px) {
  .brochureList .contentBox .listBox .item .title {
    font-size: 1.625rem;
  }
}
@media screen and (max-width: 767px) {
  .brochureList .contentBox .listBox .item .title {
    font-size: 1.375rem;
    top: 20px;
    bottom: auto;
    left: 20px;
    right: 20px;
  }
}
.brochureList .contentBox .listBox .item a {
  position: relative;
}
.brochureList .contentBox .listBox .item a::after {
  content: "";
  width: 50%;
  margin: 0 auto;
  aspect-ratio: 1;
  display: block;
  -webkit-mask: url("../images/icon/icon_arrow_.svg") center no-repeat;
          mask: url("../images/icon/icon_arrow_.svg") center no-repeat;
  -webkit-mask-size: contain;
          mask-size: contain;
  background: #FFF;
  position: absolute;
  z-index: 9;
  pointer-events: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  opacity: 0;
  transition: all 0.3s ease;
}
@media screen and (max-width: 767px) {
  .brochureList .contentBox .listBox .item a::after {
    opacity: 1;
  }
}
@media screen and (max-width: 550px) {
  .brochureList .contentBox .listBox .item a::after {
    transform: translate(-50%, -5%) rotate(-90deg);
  }
}
.brochureList .contentBox .listBox .item a:hover::after {
  opacity: 1;
}
.brochureList .contentBox .listBox .item a:hover .title {
  top: 32px;
  bottom: auto;
}
@media screen and (max-width: 550px) {
  .brochureList .contentBox .listBox .item a:hover .title {
    top: 20px;
  }
}/*# sourceMappingURL=brochure.css.map */