:root {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

.pic {
  line-height: 0;
}

.indexMore {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0.7;
  color: #2f2f2e;
  z-index: 9;
  max-width: 190px;
  height: 50px;
  border-radius: 8px;
  margin: 0 auto;
  font-weight: 600;
  position: relative;
  overflow: hidden;
  padding: 0 15px;
  transition: all 0.3s ease;
}
@media screen and (max-width: 991px) {
  .indexMore {
    font-size: 13px;
    max-width: 160px;
    height: 40px;
  }
}
.indexMore::before {
  content: '';
  position: absolute;
  width: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
  background: #bbbbbb;
  z-index: -1;
  transition: all 0.3s ease;
}
.indexMore::after {
  content: '';
  width: 24px;
  height: 5px;
  -webkit-mask: url('../images/icon/icon_more.svg') center no-repeat;
  mask: url('../images/icon/icon_more.svg') center no-repeat;
  background: #2f2f2e;
  display: block;
  margin: 0 0 0 15px;
  transition: all 0.3s ease;
}
.indexMore:hover {
  color: #fff;
}
.indexMore:hover::before {
  width: 100%;
  left: 0;
}
.indexMore:hover::after {
  background: #fff;
}

.unitTitle {
  font-size: 2.875rem;
  font-weight: 700;
  color: #2e2e2d;
  position: relative;
  margin: 0 0 5%;
  line-height: 1.2;
  isolation: isolate;
  text-align: center;
}
@media screen and (max-width: 991px) {
  .unitTitle {
    font-size: 2.125rem;
  }
}
@media screen and (max-width: 767px) {
  .unitTitle {
    font-size: 1.75rem;
  }
}

.headerBox {
  transform: translateY(-100%);
}
@media screen and (max-width: 991px) {
  .headerBox {
    transform: translateY(0);
  }
}
.headerBox.active {
  transform: translateY(0);
}

.siteHeader {
  position: fixed;
}

.wrapper {
  padding: 0 !important;
}

.banner {
  position: relative;
}
.banner .slick-slide {
  transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
}
.banner .slick-slide > div {
  line-height: 0;
}
.banner .item {
  height: 100%;
  position: relative;
  z-index: 1;
}
.banner .item .pic {
  position: relative;
  overflow: hidden;
  isolation: isolate;
}
.banner .item .pic::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 1;
  display: block;
  background: #000;
  opacity: 0.5;
}
.banner .item .pic::after {
  width: 53.5%;
  aspect-ratio: 1;
  content: '';
  position: absolute;
  left: -6%;
  top: 19%;
  -webkit-clip-path: polygon(72% 0%, 100% 0%, 0% 100%, -27% 100%);
  clip-path: polygon(72% 0%, 100% 0%, 0% 100%, -27% 100%);
  display: block;
  background: #db002d;
  z-index: 2;
}
@media screen and (max-width: 991px) {
  .banner .item .pic::after {
    width: 80%;
  }
}
.banner .item .pic img {
  transform: scale(1);
  height: 90vh;
  height: 90dvh;
  -o-object-fit: cover;
  object-fit: cover;
}
.banner .item .infoBox {
  position: absolute;
  inset: 0 16% 8%;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media screen and (max-width: 767px) {
  .banner .item .infoBox {
    inset: 0 10% 8%;
  }
}
.banner .item .infoBox .title {
  color: #fff;
  font-size: 8.125rem;
  font-weight: 800;
  line-height: 0.95;
  letter-spacing: -2px;
}
@media screen and (max-width: 991px) {
  .banner .item .infoBox .title {
    font-size: 5rem;
  }
}
@media screen and (max-width: 767px) {
  .banner .item .infoBox .title {
    font-size: 3.75rem;
  }
}
.banner .control {
  position: absolute;
  bottom: 30px;
  right: 10%;
}
.banner .control .skip {
  color: #fff;
  background: none;
  margin-bottom: 20px;
  padding: 10px 15px 12px;
  height: auto;
  border: 1px solid #fff;
}
.banner .control .skip::after {
  background: #fff;
  margin: 0 0 0 5px;
}
.banner .control .skip::before {
  background: #fff;
}
.banner .control .skip:hover {
  color: #000;
}
.banner .control .skip:hover::after {
  background: #000;
}
.banner .slick-dots {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media screen and (max-width: 991px) {
  .banner .slick-dots {
    bottom: 20px;
  }
}
.banner .slick-dots li {
  margin: 0 6px;
  height: 14px;
  width: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner .slick-dots li button {
  box-sizing: content-box;
  color: transparent;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  padding: 0;
  border: none;
  background: #fff;
}
.banner .slick-dots li.slick-active button {
  background: transparent;
  border: 3px solid #db002d;
}

.indexSearch {
  margin: 0 auto;
}
.indexSearch .container {
  width: 100%;
  max-width: 1800px;
  padding: 0 80px 50px 20px;
  background: #041c5a;
  margin: 0 auto;
  box-sizing: border-box;
}
@media screen and (max-width: 991px) {
  .indexSearch .container {
    padding: 0 20px 50px;
  }
}
.indexSearch .searchBoxOut {
  max-width: 1480px;
  border: 5px solid #db002d;
  background: #fff;
  border-width: 5px 1px 1px;
  padding: 3% 3%;
  margin: 0 auto;
}
.indexSearch .searchBox {
  white-space: nowrap;
}
.indexSearch .searchBox .title {
  color: #041c5a;
  font-size: 1.375rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  margin: 0 0 15px 0;
  letter-spacing: 2px;
}
@media screen and (max-width: 991px) {
  .indexSearch .searchBox .title {
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 767px) {
  .indexSearch .searchBox .title {
    font-size: 1.125rem;
  }
}
.indexSearch .searchBox .title::before {
  content: '';
  width: 3px;
  height: 16px;
  display: block;
  margin: 0 15px 0 0;
  background: #041c5a;
}
.indexSearch .searchBox .formBox {
  padding: 0;
  display: flex;
}
.indexSearch .searchBox .formBox + .title {
  margin: 5% 0 15px;
}
.indexSearch .searchBox .formBox .inputItem {
  padding: 0;
  flex-wrap: wrap;
}
@media screen and (max-width: 991px) {
  .indexSearch .searchBox .formBox .inputItem {
    width: calc(100% - 100px);
    margin: 0 5px 0 0;
  }
}
@media screen and (max-width: 767px) {
  .indexSearch .searchBox .formBox .inputItem {
    width: calc(100% - 80px);
  }
}
@media screen and (max-width: 991px) {
  .indexSearch .searchBox .formBox .select {
    padding: 0;
  }
}
.indexSearch .searchBox .formBox select,
.indexSearch .searchBox .formBox input {
  height: 60px;
}
@media screen and (max-width: 991px) {
  .indexSearch .searchBox .formBox select,
  .indexSearch .searchBox .formBox input {
    height: 40px;
  }
}
.indexSearch .searchBox .formBox button {
  font-size: 1.75rem;
  font-weight: 700;
  color: #fff;
  padding: 0;
  background: #041c5a;
  width: 160px;
  flex-shrink: 0;
}
@media screen and (max-width: 991px) {
  .indexSearch .searchBox .formBox button {
    font-size: 1.125rem;
    width: 100px;
  }
}
@media screen and (max-width: 767px) {
  .indexSearch .searchBox .formBox button {
    font-size: 1rem;
    width: 80px;
  }
}
.indexSearch .searchBox .formBox label {
  flex-grow: 1;
  margin: 0 30px 0 0;
}
@media screen and (max-width: 991px) {
  .indexSearch .searchBox .formBox label {
    width: 100%;
    margin: 0;
  }
  .indexSearch .searchBox .formBox label + label {
    margin: 10px 0 0;
  }
}
.indexSearch .searchBox .formBox label span {
  display: block;
  margin: 0 10px 0 0;
  font-size: 1.125rem;
  font-weight: 400;
}
@media screen and (max-width: 991px) {
  .indexSearch .searchBox .formBox label span {
    width: 70px;
  }
}
@media screen and (max-width: 767px) {
  .indexSearch .searchBox .formBox label span {
    font-size: 1rem;
  }
}

.countBox {
  background: url('../images/index/count_bg.jpg') center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0 0 10px;
  padding: 5.3% 80px;
}
@media screen and (max-width: 767px) {
  .countBox {
    padding: 40px 20px;
  }
}
@media screen and (max-width: 575px) {
  .countBox {
    background-attachment: unset;
  }
}
.countBox .listBox {
  max-width: 1340px;
  margin: 0 auto;
  color: #fff;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 20px;
  justify-content: space-around;
}
@media screen and (max-width: 575px) {
  .countBox .listBox {
    flex-direction: column;
    gap: 40px;
  }
}
.countBox .item {
  min-width: 145px;
}
.countBox .count1 span::after,
.countBox .count3 span::after {
  content: '+';
}
.countBox span {
  font-size: 4.5rem;
  font-weight: 600;
}
@media screen and (max-width: 991px) {
  .countBox span {
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 767px) {
  .countBox span {
    font-size: 2.5rem;
  }
}
.countBox .title {
  color: #db002d;
  font-size: 1.3125rem;
  font-weight: 600;
}
@media screen and (max-width: 991px) {
  .countBox .title {
    font-size: 1rem;
  }
}
@media screen and (max-width: 767px) {
  .countBox .title {
    font-size: 14px;
  }
}

.productsBox .listBox {
  display: flex;
  gap: 10px;
  margin: 0 0 10px;
}
@media screen and (max-width: 991px) {
  .productsBox .listBox {
    flex-direction: column;
  }
}
.productsBox .item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.productsBox .item::before {
  content: '';
  position: absolute;
  inset: 0;
  display: block;
  z-index: 1;
  opacity: 0.5;
  background: linear-gradient(to right, rgba(4, 28, 90, 0.3) 0%, rgb(4, 28, 90) 100%);
}
.productsBox .item .info {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 991px) {
  .productsBox .item .info {
    left: 30px;
    right: 30px;
    align-items: center;
  }
}
.productsBox .item .title {
  max-width: 270px;
  font-size: 2.875rem;
  inset: 0;
  z-index: 9;
  color: #fff;
  font-weight: 800;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1399px) {
  .productsBox .item .title {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 991px) {
  .productsBox .item .title {
    font-size: 1.75rem;
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .productsBox .item .title {
    font-size: 1.375rem;
  }
}
.productsBox .item .indexMore {
  margin: 30px 0 0;
  color: #fff;
  background: #db002d;
}
.productsBox .item .indexMore::after {
  background: #fff;
}
.productsBox .item .indexMore::before {
  background: #000;
}

.picBlock {
  position: relative;
}
.picBlock::before {
  content: '';
  position: absolute;
  inset: 0;
  display: block;
  z-index: 1;
  opacity: 0.2;
  background: #041c5a;
}
.picBlock .info {
  position: absolute;
  inset: 20px;
  z-index: 9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.picBlock .title {
  font-size: 4rem;
  color: #fff;
  font-weight: 800;
  line-height: 1;
  margin: 0 0 30px;
}
@media screen and (max-width: 991px) {
  .picBlock .title {
    font-size: 3.625rem;
  }
}
@media screen and (max-width: 767px) {
  .picBlock .title {
    font-size: 2.5rem;
  }
}
.picBlock .indexMore {
  color: #fff;
}
.picBlock .indexMore::before {
  background: #db002d;
}
.picBlock .indexMore::after {
  background: #fff;
}

.newsBox {
  background: url('../images/index/news_bg.jpg') center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  padding: 5% 0;
}
@media screen and (max-width: 767px) {
  .newsBox {
    padding: 40px 0;
  }
}
@media screen and (max-width: 575px) {
  .newsBox {
    background-attachment: unset;
  }
}
.newsBox .listBox {
  margin: 0 0 40px;
}
.newsBox .item {
  padding: 40px 0 20px;
  border-bottom: #dddddd 1px solid;
  position: relative;
  transition: all 0.3s ease;
}
@media screen and (max-width: 767px) {
  .newsBox .item {
    max-width: 300px;
    margin: 0 auto;
  }
  .newsBox .item .timeBox {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
  }
}
.newsBox .item::before {
  content: '';
  position: absolute;
  height: 1px;
  bottom: -1px;
  left: 0;
  display: block;
  background: #db002d;
  right: 100%;
  z-index: 9;
  transition: all 0.5s ease-in;
}
.newsBox .item:first-child {
  padding: 0 0 20px;
}
.newsBox .item a {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .newsBox .item a {
    flex-wrap: wrap;
  }
}
.newsBox .item time {
  max-width: 180px;
  display: flex;
  color: #666666;
  font-weight: 700;
  font-size: 1.3125rem;
  padding: 0 20px;
  margin-bottom: 20px;
}
@media screen and (max-width: 991px) {
  .newsBox .item time {
    font-size: 1rem;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 767px) {
  .newsBox .item time {
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }
}
.newsBox .item time span {
  display: flex;
  align-items: flex-end;
  line-height: 1;
}
.newsBox .item time span::before {
  content: '';
  order: 2;
  width: 2px;
  height: 2px;
  background: #666666;
  display: block;
  margin: 0 0 3px 4px;
}
.newsBox .item time span::after {
  content: '';
  order: 3;
  display: block;
  width: 10px;
  height: 2px;
  margin: 0 0 3px 2px;
  background: #666666;
}
.newsBox .item time .day {
  font-weight: bold;
  font-size: 3.375rem;
  line-height: 1;
  color: #444444;
}
@media screen and (max-width: 991px) {
  .newsBox .item time .day {
    font-size: 2.5rem;
  }
}
.newsBox .item:hover {
  transform: translate(-5px, -5px);
}
.newsBox .item:hover::before {
  right: 0;
}
.newsBox .tag {
  letter-spacing: 2px;
  font-size: 14px;
  padding: 0 20px;
  color: #333333;
}
.newsBox .info {
  flex-grow: 1;
  max-width: 860px;
}
.newsBox .title {
  font-size: 1.3125rem;
  font-weight: 600;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .newsBox .title {
    font-size: 1.125rem;
  }
}
.newsBox .description {
  color: #333333;
  font-size: 1.125rem;
}
@media screen and (max-width: 767px) {
  .newsBox .description {
    width: 100%;
    padding: 20px 0 0;
    font-size: 1rem;
  }
}
.newsBox .indexMore {
  border: 1px solid #bbbbbb;
}

.aboutBox {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  background: linear-gradient(to right, rgb(4, 28, 90) 50%, rgb(219, 0, 45) 80%);
  padding: 0 0 5% 80px;
}
@media screen and (max-width: 767px) {
  .aboutBox {
    padding: 0 0 5% 20px;
  }
}
@media screen and (max-width: 575px) {
  .aboutBox {
    flex-direction: column;
    padding: 0 20px 5% 20px;
  }
}
.aboutBox .picBox {
  width: 50%;
  position: sticky;
  top: 70px;
}
@media screen and (max-width: 991px) {
  .aboutBox .picBox {
    top: 50px;
  }
}
@media screen and (max-width: 575px) {
  .aboutBox .picBox {
    position: relative;
    top: 0;
    width: 100%;
  }
}
.aboutBox .picBox .listBox {
  margin: 0 0 4%;
}
.aboutBox .picBox .item {
  position: relative;
}
.aboutBox .picBox .item::before {
  content: '';
  position: absolute;
  inset: 0;
  display: block;
  z-index: 1;
  opacity: 0.3;
  background: #000;
}
.aboutBox .control {
  display: flex;
  justify-content: center;
}
.aboutBox .slick-arrow {
  width: 46px;
  height: 46px;
  background: none;
  position: relative;
  margin: 0 5px;
}
.aboutBox .slick-arrow::before {
  content: '';
  position: absolute;
  inset: 0;
  background: url('../images/icon/icon_arrow_.svg') center no-repeat;
  display: block;
  filter: invert(1);
}
.aboutBox .slick-arrow.slick-next::before {
  transform: rotate(180deg);
}
.aboutBox .infoBox {
  max-width: 870px;
  position: relative;
  z-index: 9;
  margin: 5.5% -14.5% auto auto;
  padding: 6% 0 0 6%;
  box-sizing: content-box;
  color: #fff;
}
@media screen and (max-width: 575px) {
  .aboutBox .infoBox {
    margin: 30px 0 0;
    padding: 20px 0 40px;
  }
}
.aboutBox .infoBox::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 11%;
  aspect-ratio: 1;
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 0);
  clip-path: polygon(0 0, 0% 100%, 100% 0);
  background: #db002d;
}
.aboutBox .infoBox .title {
  font-weight: 900;
  font-size: 4.25rem;
  line-height: 1.1;
  padding: 0 0 8%;
  margin: 0 0 8%;
  position: relative;
}
@media screen and (max-width: 991px) {
  .aboutBox .infoBox .title {
    font-size: 3.625rem;
  }
}
@media screen and (max-width: 767px) {
  .aboutBox .infoBox .title {
    font-size: 3rem;
  }
}
@media screen and (max-width: 575px) {
  .aboutBox .infoBox .title {
    font-size: 2.375rem;
  }
}
.aboutBox .infoBox .title::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 30%;
  height: 4px;
  background: #db002d;
  display: block;
}
.aboutBox .infoBox .description {
  max-width: 520px;
  font-size: 1.125rem;
  margin: 0 0 10%;
}
@media screen and (max-width: 991px) {
  .aboutBox .infoBox .description {
    font-size: 1rem;
  }
}
.aboutBox .indexMore {
  margin: 30px 0 0;
  color: #fff;
  background: #db002d;
}
.aboutBox .indexMore::after {
  background: #fff;
}
.aboutBox .indexMore::before {
  background: #000;
}

.worldBox {
  background: url('../images/index/world_bg.jpg') center no-repeat;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  padding: 5.3% 80px;
}
@media screen and (max-width: 767px) {
  .worldBox {
    padding: 5% 20px;
    background-attachment: unset;
  }
}
.worldBox .container {
  width: 100%;
  max-width: 890px;
  background: rgba(130, 139, 151, 0.7);
  border-radius: 8px;
  padding: 4%;
  box-sizing: border-box;
}
@media screen and (max-width: 575px) {
  .worldBox .container {
    padding: 20px;
  }
}
.worldBox .title {
  font-size: 2.875rem;
  font-weight: 700;
  position: relative;
  margin: 0 0 30px;
  padding: 0 0 30px;
}
@media screen and (max-width: 991px) {
  .worldBox .title {
    font-size: 2.25rem;
  }
}
.worldBox .title::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 25%;
  height: 4px;
  background: #db002d;
  display: block;
}
.worldBox .description {
  font-size: 1.375rem;
}
@media screen and (max-width: 991px) {
  .worldBox .description {
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 767px) {
  .worldBox .description {
    font-size: 1.125rem;
  }
}
@media screen and (max-width: 575px) {
  .worldBox .description {
    font-size: 1rem;
  }
}

.indexMenuBtn {
  display: none;
}

@media screen and (min-width: 992px) {
  .indexMenuBtn {
    transition: all 0.3s ease;
    width: 100px;
    height: 100px;
    top: 0px;
    right: 0px;
    position: fixed;
    z-index: 99;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #041c5a;
  }
  .indexMenuBtn::before {
    content: '';
    width: 33px;
    height: 1px;
    background: #fff;
    box-shadow: #fff 0 5px 0 0, #fff 0 -5px 0 0;
    transition: all 0.3s ease;
  }
  .indexMenuBtn::after {
    content: 'MENU';
    color: #fff;
    font-size: 1rem;
    margin: 10px 0 -10px;
  }
  .indexMenuOpen {
    overflow: unset;
  }
  .indexMenuOpen .indexMenuBtn {
    display: none;
  }
  .indexMenuOpen .headerBox {
    transform: translateY(0);
  }
}
.indexFooterBox {
  padding: 27px;
  position: relative;
  background: #041c5a;
}
@media screen and (max-width: 991px) {
  .indexFooterBox {
    padding: 20px 0;
  }
}
.indexFooterBox .container {
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 991px) {
  .indexFooterBox .container {
    justify-content: center;
  }
}
.indexFooterBox .footerMenu {
  display: flex;
}
@media screen and (max-width: 991px) {
  .indexFooterBox .footerMenu {
    display: none;
  }
}
.indexFooterBox .footerMenu ul {
  display: flex;
}
.indexFooterBox .footerMenu li {
  margin: 0 0 0 20px;
}
.indexFooterBox .footerMenu li a {
  font-size: 1.125rem;
  font-weight: 600;
  display: block;
  padding: 5px 0;
  color: #fff;
  white-space: nowrap;
}
.indexFooterBox .copyright {
  max-width: 1560px;
  font-size: 13px;
  color: #fff;
}
@media screen and (max-width: 991px) {
  .indexFooterBox .copyright {
    text-align: center;
  }
}
.indexFooterBox .copyright b {
  color: #fff;
  font-weight: normal;
}
.indexFooterBox .copyright span {
  display: none;
}
.indexFooterBox .copyright a {
  color: #fff;
}
.indexFooterBox .copyright a:hover {
  color: #fff;
}
.indexFooterBox .copyright .disclaimerBtn {
  color: #000;
  text-decoration: underline;
  margin: 0 0 0 20px;
  font-weight: 300;
} /*# sourceMappingURL=index.css.map */
