.innerPage .pageContent {
  padding: 6% 0;
}

.videoList {
  background: #F0F0F0;
}
.videoList .pageContent {
  padding-top: 0;
}
.videoList .container {
  width: auto;
  max-width: 1770px;
  margin: 0 auto 0 0;
  padding: 0;
  display: flex;
  align-items: flex-start;
  box-sizing: content-box;
  padding-right: 80px;
  isolation: isolate;
}
@media screen and (max-width: 1440px) {
  .videoList .container {
    padding-right: 50px;
  }
}
@media screen and (max-width: 767px) {
  .videoList .container {
    flex-direction: column;
    padding: 0 20px;
  }
}
.videoList .side {
  position: sticky;
  top: 80px;
  display: flex;
  flex-direction: column;
  width: 30%;
  padding-top: 6%;
  padding-left: clamp(30px, 8%, 150px);
}
@media screen and (max-width: 1440px) {
  .videoList .side {
    padding-left: 50px;
  }
}
@media screen and (max-width: 991px) {
  .videoList .side {
    width: 40%;
  }
}
@media screen and (max-width: 767px) {
  .videoList .side {
    top: 0;
    width: 100%;
    position: relative;
    padding-left: 0;
    padding-top: 39px;
  }
}
.videoList .side::before {
  content: "";
  position: absolute;
  width: calc(100% + 200px);
  height: 100vh;
  top: 0;
  left: 0;
  display: block;
  background: url("../images/in/brochure_bg.jpg") left top no-repeat;
  z-index: -1;
}
@media screen and (max-width: 767px) {
  .videoList .side::before {
    left: -20px;
    width: calc(100% + 40px);
  }
}
.videoList .side .box > button {
  width: 100%;
  background: none;
  color: #fff;
  background: #DB002D;
  padding: 10px;
  position: relative;
  display: none;
}
@media screen and (max-width: 767px) {
  .videoList .side .box > button {
    display: block;
  }
}
.videoList .side .box > button::after {
  content: "+";
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
@media screen and (min-width: 768px) {
  .videoList .side .tab {
    display: block !important;
  }
}
@media screen and (max-width: 767px) {
  .videoList .side .tab {
    max-width: none;
    display: none;
  }
}
@media screen and (max-width: 550px) {
  .videoList .side .tab {
    margin-bottom: 30px;
  }
}
.videoList .side .tab button {
  width: 100%;
  color: #222222;
  background: none;
  padding: 35px 0;
  font-size: 1.25rem;
  font-weight: 600;
  text-align: left;
}
@media screen and (max-width: 767px) {
  .videoList .side .tab button {
    padding: 15px 0;
    background: none;
    border-bottom: #9E9E9E 1px solid;
  }
}
.videoList .side .tab button.active, .videoList .side .tab button:hover {
  background: #DB002D;
  color: #FFF;
  padding: 35px 25px;
}
@media screen and (max-width: 767px) {
  .videoList .side .tab button.active, .videoList .side .tab button:hover {
    padding: 15px 0;
    background: none;
    color: #DB002D;
  }
}
.videoList .side .pageTitle {
  color: #444444;
  margin-bottom: 90px;
  font-size: 4.25rem;
}
@media screen and (max-width: 1440px) {
  .videoList .side .pageTitle {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 991px) {
  .videoList .side .pageTitle {
    font-size: 3.375rem;
  }
}
@media screen and (max-width: 767px) {
  .videoList .side .pageTitle {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
}
.videoList .side .controlBox {
  margin: auto 0 0;
  padding-right: 30px;
}
@media screen and (max-width: 550px) {
  .videoList .side .controlBox {
    padding-right: 0;
    margin-bottom: 30px;
  }
}
.videoList .side .controlBox .control {
  width: 100%;
  display: none;
}
.videoList .side .controlBox .control.active {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.videoList .side .controlBox .control .page {
  font-size: 1.5rem;
  color: #878787;
}
.videoList .side .controlBox .control .page span {
  color: #DB002D;
}
.videoList .side .controlBox .control button {
  border: none;
}
.videoList .side .controlBox .arrowBox {
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 991px) {
  .videoList .side .controlBox .arrowBox {
    gap: 10px;
  }
}
.videoList .contentBox {
  width: 70%;
  padding-top: 6%;
}
@media screen and (max-width: 991px) {
  .videoList .contentBox {
    width: 60%;
  }
}
@media screen and (max-width: 767px) {
  .videoList .contentBox {
    width: 100%;
  }
}
.videoList .contentBox .content {
  display: none;
}
.videoList .contentBox .content.active {
  display: block;
}
.videoList .contentBox .listBox {
  display: flex;
  flex-wrap: wrap;
  gap: 60px 40px;
}
@media screen and (max-width: 1100px) {
  .videoList .contentBox .listBox {
    gap: 40px 20px;
  }
}
.videoList .contentBox .listBox .item {
  width: calc((100% - 40px) / 2);
  position: relative;
}
@media screen and (max-width: 767px) {
  .videoList .contentBox .listBox .item {
    width: 100%;
  }
}
.videoList .contentBox .listBox .item .pic {
  margin-bottom: 20px;
}
.videoList .contentBox .listBox .item .title {
  font-size: 2rem;
  line-height: 1;
  transition: all 0.3s ease;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
@media screen and (max-width: 767px) {
  .videoList .contentBox .listBox .item .title {
    font-size: 1.625rem;
  }
}
@media screen and (max-width: 550px) {
  .videoList .contentBox .listBox .item .title {
    font-size: 1.375rem;
  }
}/*# sourceMappingURL=video.css.map */